---
layout: home-page
title: Archive
permalink: /archive/
---
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<div class="archive">
  <h1 class="archive-title">Posts archive</h1>

	{% for item in (0..site.tags.size) %}{% unless forloop.last %}
	{% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
	<a href="/tags/#{{ this_word | cgi_escape }}" class="tag">{{ this_word }} <span>({{ site.tags[this_word].size }})</span></a>,
	{% endunless %}{% endfor %}

	<ul>
	{% for post in site.posts %}
		<li>
			<div style="text-align:right; width:50%; float:left;" class="archive-date">{{ post.date | date: "%Y, %B %d" }}: </div>
			<div style="text-align:left; width:50%;"><a href="{{ post.url }}">| {{ post.title }}</a></div>
		</li>
		{% endfor %}
	</ul>
</div>