{% if site.discus_identifier %}
  <section class="comment-area">
    <div class="comment-wrapper">
        <div class="row" id="comment-curtain">
            <div class="col-lg-8 col-sm-10 mr-auto ml-auto">
                <h3>Comments</h3>
                <a href="#" class="comments-trigger" onclick="toggle_comments()">
                    <i class="fa fa-comments"></i> Write a comment ...
                </a>
            </div>
        </div>
      <div id="disqus_thread" class="article-comments"></div>
      <script>
        (function() {
            var d = document, s = d.createElement('script');
            s.src = '//{{ site.discus_identifier }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </section> <!-- End Comment Area -->
{% endif %}
