<footer class="main-footer">
    <div class="footer-wrapper">
        <div class="logo-symbol">
            <a href="{{site.baseurl}}/">
                <img class="logo-symbol" src="{{site.logo-icon}}" alt="{{site.title}}">
            </a>
        </div>
        <div class="copyright">
          <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
        </div>
        <div class="footer-nav">
            <ul>
                <li>
                    <a href="{{site.baseurl}}/tags/">
                        Tags
                    </a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/archive/">
                        Archive
                    </a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/about/">
                        About
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer> <!-- End Footer -->
