<div class="sidebar">
    <div class="tag-cloud">
        <ul class="tags">


                    <li><a href="https://amaynez.github.io/tags#Coding" class="tag post">Coding</a></li>

                    <li><a href="https://amaynez.github.io/tags#Machine+Learning" class="tag post">Machine Learning</a></li>

                    <li><a href="https://amaynez.github.io/tags#Optimization" class="tag post">Optimization</a></li>

                    <li><a href="https://amaynez.github.io/tags#Deep+Neural+Networks" class="tag post">Deep Neural Networks</a></li>


        </ul>
    </div>
    <div class="share-options">
        <span id="share-button"><i class="fa fa-share-alt"></i></span>
        <div class="share-icons">
            <a href="https://twitter.com/intent/tweet?text=Neural Network Optimization Methods and Algorithms&url=https://amaynez.github.io/neural-network-optimization-methods/" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true" onClick="return popup('https://twitter.com/intent/tweet?text=Neural Network Optimization Methods and Algorithms&url=https://amaynez.github.io/neural-network-optimization-methods/')"></i></a>
            <a href="https://facebook.com/sharer.php?u=https://amaynez.github.io/neural-network-optimization-methods/" title="Share on Facebook" rel="nofollow" target="_blank" onClick="return popup('https://facebook.com/sharer.php?u=https://amaynez.github.io/neural-network-optimization-methods/')"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="http://www.reddit.com/submit?url=https://amaynez.github.io/neural-network-optimization-methods/&title=Neural Network Optimization Methods and Algorithms" title="Submit to Reddit" rel="nofollow" target="_blank"><i class="fa fa-reddit" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://amaynez.github.io/neural-network-optimization-methods/&title=Neural Network Optimization Methods and Algorithms&summary=Some neural network optimization algorithms mostly to implement momentum when doing back propagation.&source=https://amaynez.github.io/neural-network-optimization-methods/" title="Share on LinkedIn" rel="nofollow" target="_blank" onClick="return popup('https://www.linkedin.com/shareArticle?mini=true&url=https://amaynez.github.io/neural-network-optimization-methods/&title=Neural Network Optimization Methods and Algorithms&summary=Some neural network optimization algorithms mostly to implement momentum when doing back propagation.&source=https://amaynez.github.io/neural-network-optimization-methods/')"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="mailto:?subject=Neural Network Optimization Methods and Algorithms&body=Some neural network optimization algorithms mostly to implement momentum when doing back propagation.%0A%0ARead more here: https://amaynez.github.io/neural-network-optimization-methods/" title="Share via e-mail" rel="nofollow" target="_blank" onClick="return popup('mailto:?subject=Neural Network Optimization Methods and Algorithms&body=Some neural network optimization algorithms mostly to implement momentum when doing back propagation.%0A%0ARead more here: https://amaynez.github.io/neural-network-optimization-methods/')"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="page-image">
      <div class="cover-image" style="background: url(/assets/img//posts/nnet_optimization.jpg) center no-repeat; background-size: cover;"></div>
</div>
<div class="wrapper">
  <div class="page-content">
    <div class="header-page">
        <h1 class="page-title">Neural Network Optimization Methods and Algorithms</h1>
        <span class = "post-page-meta">
            <p class="page_meta">
                <span class="page_meta-date">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <time datetime="2021-03-12T19:32:20+00:00">March 12, 2021</time>
                </span>
                <span class="meta-sep"></span>
                <span class="page_meta-readtime">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                    8 minute read
                </span>
            </p>
        </span>
     </div>