/* = = = = = = = = = = Template Colors = = = = = = = = = = = = */
# purple                #311e3e
# text black            #333
# dark grey             #3e3e40
# light grey background #311e3e
# light grey text       #999999
# medium grey           #696764
# red links             #87314e


.tags li a {
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 12px;
    color: #999999;
    border: 1px solid transparent;
    background: #efefef;
    border-radius: 15px;
    padding: 3px 15px;
    font-weight: normal;
    display: block;}

.tags li a:hover {
    background: transparent;
    border: 1px solid #311e3e;
    color: #87314e;
}