---
layout: default
---
<div class="flex-container">
  {% include header.html %}
  <article class="article-page">
    <div class="page-image">
      <div class="cover-image" style="background: url({{"/assets/img/" | prepend: site.baseurl | append : page.img}}) center no-repeat; background-size: cover;"></div>
    </div>
    <div class="wrapper">
      <div class="page-content">
        <div class="header-page">
          <h1 class="page-title">{{page.title}}</h1>
          <div class="page-date"><time datetime="{{page.date}}">{{page.date | date: '%Y, %b %d'}}</time></div>
        </div>
        {% if page.github %}
        <span class="github-btn" id="github-btn">
          <a class="gh-btn" id="gh-btn" href="https://github.com/{{page.github}}" target="_blank" aria-label="Open on GitHub">
            <span class="gh-ico" aria-hidden="true"></span>
            <span>view on <b>GitHub</b></span>
          </a>
        </span>
        {% endif %}
        {{page.content | markdownify}}
        {% if page.github %}
        <br>
        <span class="github-btn" id="github-btn">
            <a class="gh-btn" id="gh-btn" href="https://github.com/{{page.github}}" target="_blank" aria-label="Open on GitHub">
              <span class="gh-ico" aria-hidden="true"></span>
              <span>view on <b>GitHub</b></span>
            </a>
        </span>
        {% endif %}
        <div class="page-footer">
          <div class="page-tag">
            <span>Tags:</span>
            {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">| {{ tag }}</a>
            {% endfor %}
          </div><!-- End Tags -->
          <div class="page-share">
            <span>Share:</span>
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true" onClick="return popup('https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}')"></i></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&display=popup&ref=plugin&src=like&kid_directed_site=0&app_id=113869198637480" title="Share on Facebook" rel="nofollow" target="_blank" onClick="return popup('https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&display=popup&ref=plugin&src=like&kid_directed_site=0&app_id=113869198637480')"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" title="Submit to Reddit" rel="nofollow" target="_blank"><i class="fa fa-reddit" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.url }}{{ page.url }}" title="Share on LinkedIn" rel="nofollow" target="_blank" onClick="return popup('https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.url }}{{ page.url }}')"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="mailto:?subject={{ page.title }}&body={{ page.description }}%0A%0ARead more here: {{ site.url }}{{ page.url }}" title="Share via e-mail" rel="nofollow" target="_blank" onClick="return popup('mailto:?subject={{ page.title }}&body={{ page.description }}%0A%0ARead more here: {{ site.url }}{{ page.url }}')"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          </div><!-- End Share -->
        </div>
        {% include author-box.html %}
        {% include recent-post.html %}
        {% include newsletter.html %}
        {% include disqus.html %}
      </div>
    </div> <!-- End Wrapper -->
  </article>
  {% include search.html %}
  {% include footer.html %}
</div>
